.oneway-info{
    display: flex;
    flex-direction: column;

    
}
.oneway-info p{
 
    color: gray;
    margin-left: 8px;
}
 .oneway-info input[type='text'],input[type='number']{
    width: 98%;
    margin: 0 auto 0.5rem;
    box-sizing: border-box;
    padding: 0.75rem;
    border-radius: 1rem;
    border: none;
    background-color: #F6F6F6;
    font-size: 1.2rem;
    outline: none;
}
.oneway-info button{
    width: 98%;
    margin: 0 auto 0.75rem;
    box-sizing: border-box;
    padding: 0.75rem;
    border-radius: 1rem;
    border: none;
    background-color: #F6F6F6;
    text-align: left;
    font-size: 1.2rem;
}
.oneway-info #submit{
    background-color: black;
    text-align: center;
    color: white;
}